---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.summary}>
  <Header />
  <div class="md:w-[80vw] max-w-[1200px] mx-auto px-6">
    <main class="container" role="main">
      <section class="section" aria-label="Blog post">
        <article class="mdx-article">
          <Content />
        </article>
      </section>
    </main>
  </div>
</Layout>
